CashDiscipline.Module/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/CashDiscipline?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/CashDiscipline?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/CashDiscipline?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CashDiscipline.ServiceLib.Types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IService1_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ExecuteSsisPackage_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSsisPackage" />
  </wsdl:message>
  <wsdl:message name="IService1_ExecuteSsisPackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSsisPackageResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Ping">
      <wsdl:input wsam:Action="http://tempuri.org/IService1/Ping" message="tns:IService1_Ping_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService1/PingResponse" message="tns:IService1_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSsisPackage">
      <wsdl:input wsam:Action="http://tempuri.org/IService1/ExecuteSsisPackage" message="tns:IService1_ExecuteSsisPackage_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService1/ExecuteSsisPackageResponse" message="tns:IService1_ExecuteSsisPackage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IService1/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSsisPackage">
      <soap:operation soapAction="http://tempuri.org/IService1/ExecuteSsisPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8080/CashDiscipline" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>