CashDiscipline.Module/Service References/CashDisciplineServiceReference/CashDiscipline1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/CashDiscipline?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CashDiscipline.ServiceLib.Types" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSsisPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CashDiscipline.ServiceLib.Types" minOccurs="0" name="parameters" nillable="true" type="q1:ArrayOfSsisParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSsisPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CashDiscipline.ServiceLib.Types" minOccurs="0" name="ExecuteSsisPackageResult" nillable="true" type="q2:IntegrationPackageResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>